/*底部栏*/
.foot{
		margin-left:0;
		width: 100%;
		background-color: #378b83;
		height: auto;
		opacity:0.9
}

/*头部栏*/
.head{
		position: relative;
		overflow: hidden;
		visibility: visible;
}
.head .imgSlip{
		width: 100%;
		height: 100%;
		transform: translateX(0px);
		overflow: hidden;
}
.head .imgSlip .fullScreen li{
		background-size:100% 100%;
		width: 100%;
		height: 100%;
}

/*上导航栏*/
.nav{
		background-image:url(../pic/nav.png);
		background-size:100% 100%;
		width: 100%;
		position: relative;
		min-height: 65px;
}

/*博客文章列表*/
.list{
		overflow: auto;
		height: 100%;
		color: #326b62;
		float: left;
}
.list .li .p1{
		float: left;
}
.list .li .p2{
		float: left;
}
.list .li .airBubbleIcon{
		float: left;
}
/*二维码*/
.qrCode{
		height: 100%;
		text-align: center;
		color: #326b62;
		position: relative;
}

/*网站权限说明*/
.copyright{
		color: white;
}

@media screen and (min-width: 960px){

		/*初始化*/
		.init{
				margin: 0 auto;
				padding: 0;
				width: 960px;
				font-size: 1.6rem;
		}

		/*底部栏*/
		.foot{
				margin: 0 auto ;
				width: 960px;
				font-size: 1.6rem;
				margin-top: 64px
		}

		/*头部栏*/
		.head{
				margin: 0 auto;
				width: 960px;
		}

		/*中间轮播图片区*/
		.picZoom{
				height: 423px;
				text-align: center;
				width: 320px;
				float: left
		}
		.picZoom .carouselBox{
				position: relative;
				background-image:url(../pic/photoBox.png);
				background-size:100% 100%;
				height: 290px;
				width: 290px;
				margin-top: 20px;
				margin-left: 15px;
		}
		.picZoom .carouselBox .carouselImg{
				height: 100%;
				width: 100%;
				overflow: hidden;
		}
		.picZoom .carouselBox .carouselImg .slide{
				position:relative;
		}
		.picZoom .carouselBox .carouselImg .slide .img{
				float:left;
				position:relative;
		}
		.picZoom .carouselBox .carouselImg .slide img{
				width:290px;
				height:290px;
		}
		.picZoom .carouselBox .carouselBtn{
				position: absolute;
				bottom: 0;
				min-height: 20px;
				width:100%;
		}
		.picZoom .carouselBox .carouselBtn span{
				display: inline-block;width:12px;height:12px;background:url(../pic/cir.png) center center no-repeat;
		}
		.picZoom .carouselBox .carouselBtn span:hover,.picZoom .carouselBox .carouselBtn .onbtn{background:url(../pic/cir_h.png)}

		/*二维码*/
		.qrCode{
				overflow: auto;
				width: 320px;
		}
		.qrCode .qrCodeImg{
				margin-top: 9px;
				width: 180px;
				height: 180px;
		}
		.qrCode span{
				cursor: pointer;
				line-height: 30px
		}

		/*博客文章列表*/
		.list{
				width: 320px;
		}
		.list .li{
				margin-left:60px;
				line-height: 30px
		}
		.list .li .p1{
				cursor: pointer;
				width:151px;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				margin-right:20px;
		}
		.list .li .p2{
				cursor: pointer;
				width:53px;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				margin-left: 10px;
		}
		.list .li .airBubbleIcon{
				cursor: pointer;
				margin-left: 10px;
				margin-top: 8px;
				height: 15px;
				width: 16px;
		}

		/*上导航栏*/
		.nav .navText{
				width: 320px;
				height: 65px;
				float: left;
				margin: 0 auto;
				position: relative;
				font-size: 3.0rem;
				display: block;
		}
		.nav .navText .blog,.photo{
				margin-top: 10px;
				position: absolute;
				bottom: 15px;
				left: 120px;
		}
		.nav .verticalLine{
				position: absolute;
				right: 0;
				top: 7px;
				width:3px;
				height:51px;
		}
		.nav .navSearch{
				width: 320px;
				height: 65px;
				float: left;
				position: relative;
		}
		.nav .navSearch .searchBox{
				position: absolute;
				left: 44px;
				top: 7px;
				width: 231px;
				height:51px;
				background-color: RGB(213, 198, 189);
		}
		.nav .navSearch .magnifierImg{
				position: absolute;
				left: 190px;
				top:8px;
				width:36px;
				height:36px;
				cursor: pointer;
		}
		.nav .navSearch .searchInput{
				color: green;
				width: 189px;
				height:50px;
				background-color:transparent;
				border:0 none;
				font-size: 2.5rem
		}
		.nav .navList{
				display: none;
		}
}

@media screen and (max-width: 960px){
		.init{
				overflow: auto;
				font-size: 1.6rem;
				overflow-x: hidden;
		}
		.foot{
				height: auto;
				width: 100%;
				font-size: 1.6rem;
		}
		.init{
				margin: 0;
				padding: 0;
				width: 100%;
		}

		/*博客文章列表*/
		.list{
				width: 100%;
		}
		.list .li{
				line-height: 40px;
		}
		.list .li .p1{
				cursor: pointer;
				width:64%;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				margin-left:20px;
		}
		.list .li .p2{
				cursor: pointer;
				width:25px;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				margin-left: 10px;
				margin-right:20px;
		}
		.list .li .airBubbleIcon{
				cursor: pointer;
				margin-left: 10px;
				margin-top: 12px;
				height: 15px;
				width: 15px;
		}

		/*隐藏轮播图片区*/
		.picZoom{
				display: none;
		}

		/*二维码*/
		.qrCode{
				line-height: 30px;
				clear: both;
				margin: 0 auto;
				width: 100%;
		}
		.qrCode .qrCodeImg{
				margin-top: 9px;
				width: 150px;
				height: 150px;
				cursor: pointer;
		}
		.qrCode span{
				cursor: pointer;
		}

		/*上导航栏*/
		.nav .navSearch .searchInput{
				color: green;
				width: 145px;
				height:50px;
				background-color:transparent;
				border:1px;
				border-bottom-style:none;
				border-top-style:none;
				border-left-style:none;
				border-right-style:none;
				font-size: 2.5rem
		}
		.nav .navSearch{
				width: 320px;
				height: 65px;
				float: right;
				position: relative;
		}
		.nav .navSearch .searchBox{
				position: absolute;
				left: 55px;
				top: 7px;
				width: 200px;
				height:51px;
				background-color: RGB(213, 198, 189);
		}
		.nav .navSearch .magnifierImg{
				position: absolute;
				left: 150px;
				top:8px;
				width:36px;
				height:36px;
				cursor: pointer;
		}
		.nav .navList{
				cursor: pointer;
				display: block;
				position: absolute;
				right: 10px;
				width: 51px;
				height: 51px;
				top: 7px;
				background-color: RGB(213, 198, 189);
		}
		.nav .navList .navListImg{
		    width:31px;
		    height:27px;
		    position: absolute;
		    top:12px;
		    left: 10px
    }
		.nav .navText {
				display: none;
				z-index: 1000;
				background-color: whitesmoke;
				position: absolute;
				top:65px;
				width: 100%;
				font-size: 2.5rem;
				float: right;
				min-height: 40px;
		}
		.nav .top{
				top:105px;
		}
		.nav .navText .verticalLine{
				display: none;
		}
		.nav .navText .blog{
				float: right;
				margin-right: 10px;
				margin-top: 5px;
				cursor: pointer;
		}
		.nav .navText .photo{
				float: right;
				margin-right: 10px;
				cursor: pointer;
		}

		/*隐藏部分底部栏说明*/
		.span1 , .span2 , .span3 , .span7 , .span8 , .span10 {
				display: none;
		}
}


